<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../templates/header') -%>
</head>

<body>

<header>
    <%- include ('../templates/nav') -%>
</header>

<div class="container">
    <h1 class="display-4">Assignment 7: Welcome to Company Y</h1>
    <a href="/parts" class="btn btn-light">View Parts</a>
    <a href="/addpart" class="btn btn-light">Add Part</a>
    <a href="/searchorder" class="btn btn-light">Search Order</a>
</div>


<footer>
    <%- include ('../templates/footer') -%>
</footer>


</body>
</html>