<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../templates/header') -%>
  </head>

  <body>
    <header>
      <%- include ('../templates/nav') -%>
    </header>

    <div class="container">
      <h1 class="display-4">Welcome to COVID Inventory</h1>
      <a href="/items" class="btn btn-light">View Items</a>
      <a href="/addpart" class="btn btn-light">Add Part</a>
      <a href="/searchitem" class="btn btn-light">Search Item</a>
      <a href="/searchorder" class="btn btn-light">Search Order</a>
    </div>

    <footer>
      <%- include ('../templates/footer') -%>
    </footer>
  </body>
</html>
