<!DOCTYPE html>
<html>
  <head>
    <%- include ('../templates/header') -%>
  </head>
  <body>
    <%- include ('../templates/nav') -%>

    <div class="container">
        <h1 class="display-4">Create New Package! </h1>
        <form action="/addData" method="POST">
            <input type="text", name="packageId", placeholder="Enter Package Name", required>
            <input type="text", name="itemId", placeholder="Enter item Name", required>
            <input type="text", name="qty", placeholder="Enter Quantity", required>
            <button class="btn btn-primary"> Submit </button>
        </form><br>
        <form action="/">
            <button class="btn btn-light">Home </button>
        </form><br>
        <form action="/viewData">
            <button class="btn btn-light">View Data </button>
        </form>
    </div>  

    <%- include ('../templates/footer') -%>
  </body>
</html>